html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    touch-action: none;
    margin: 0px;
    padding: 0px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}